body {
    background-color: grey;
}

h1 {
    text-align: center;
}

fieldset {
    width: auto;
    margin: auto;
}

form {
    background-color: khaki;
    display:grid;
    gap: .5em;
    
    grid-template-columns: 1fr 10em;
    margin: 3em auto;
    padding: 2em;
    width: 550px;
}

label {
    width: 120px;
    text-align: justify;
    padding-right: 50px;
    padding-left: 50px;
    
    
}

input {
    float: left;
    padding-block: 2.5px;
    padding-left: 50px;
    
  
}

button {
    display: block;
    
    padding: 10px;
    margin-left: 175px;
    
}

#container {
    background-color: lightgray;
    border: 2px solid orange;
    text-align: justify;  
    width: 400px;
    margin: auto;
    padding: 5%;

}

  

